Django==5.0.6
python-dotenv==1.0.1
pillow==10.3.0
django-bootstrap5==24.2
asgiref==3.8.1
fast_bitrix24==1.7.3
django-filter==24.2
qrcode==7.4.2
yookassa==3.1.0
django-sslserver==0.22
django-phonenumber-field==7.3.0
gunicorn==22.0.0
psycopg2-binary==2.9.9
phonenumbers==8.13.38
