{% extends "base.html" %}
{% load static %}

{% block title %}
    Главная страница
{% endblock %}

{% block content %}
    <div class="index-top hide-on-mobile">
        <div class="index-top-block">
            <div class="index-top-block-left">
                <div>
                    <h1>Музеи и экскурсии в Коломне</h1>
                    <p class="mt-4">Посети лучшие <a href="#">достопримечательности</a> города</p>
                    <a class="btn blue-btn mt-4" href="#">Записаться на экскурсию</a>
                </div>
            </div>
            <div class="index-top-block-right">
                <img src="{% static 'images/index_big.webp' %}" alt="">
                <p>
                    Огромное количество экскурсий и квестов ждут вас в удивительном городе Коломна.
                    Подключайтесь в мир путешествий и истории
                </p>
            </div>
        </div>
    </div>

    <div class="in-one-line index-top mb-2">
        <div class="col-6 hide-on-desktop">
            <h1>Музеи и экскурсии в Коломне</h1>
        </div>
        <div class="col-6 hide-on-desktop">
            <img src="{% static 'images/index_big.webp' %}" alt="">
        </div>
    </div>

    <div class="container text-center hide-on-desktop">
        <a class="btn blue-btn mb-4" href="#">Записаться на экскурсию</a>
    </div>

    <div class="container">
        <div class="row mb-5">
            <h2>Ближайшие события</h2>
            {% for event_schedule in event_schedules %}
                {% with event_schedule.event as event %}
                    <div class="col-sm-4 hide-on-mobile">
                        <div class="card event_schedule-card">
                            <img src="{{ event.images.all.0.file.url }}" alt="{{ event.name }}">
                            <div class="card-body">
                                <p class="card-text">{{ event.name }}</p>
                                <div class="in-one-line">
                                    <span>
                                        <i class="fa-regular fa-calendar"></i> {{ event_schedule.start_at_as_str }}
                                    </span>
                                    <span>
                                        <i class="fa-regular fa-clock"></i> {{ event.duration_as_str }}
                                    </span>
                                </div>
                                <p class="card-text mt-5 text-center">
                                    <a class="btn" href="#">Подробнее <i class="fa-solid fa-arrow-right"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}

            <div id="carouselEvents" class="carousel carousel-dark slide hide-on-desktop">
                <div class="carousel-inner">
                    {% for event_schedule in event_schedules %}
                        {% with event_schedule.event as event %}
                            <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                                <div class="card event_schedule-card">
                                    <img src="{{ event.images.all.0.file.url }}" alt="{{ event.name }}">
                                    <div class="card-body">
                                        <p class="card-text">{{ event.name }}</p>
                                        <div class="in-one-line">
                                            <span>
                                                <i class="fa-regular fa-calendar"></i> {{ event_schedule.start_at_as_str }}
                                            </span>
                                            <span>
                                                <i class="fa-regular fa-clock"></i> {{ event.duration_as_str }}
                                            </span>
                                        </div>
                                        <p class="card-text mt-5 text-center">
                                            <a class="btn" href="#">
                                                Подробнее <i class="fa-solid fa-arrow-right"></i>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endwith %}
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselEvents"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselEvents"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="row mb-5">
            <h2>Музеи</h2>
            {% for organization in organizations %}
                <div class="col-sm-3 hide-on-mobile">
                    <div class="card event_schedule-card">
                        <img src="{{ organization.file.url }}" alt="{{ organization.name }}">
                        <div class="card-body">
                            <p class="card-text">{{ organization.name }}</p>
                            <span>{{ organization.description }}</span>
                            <a class="btn full-blue-btn mt-3 mb-3" href="#">Купить билет</a>
                            <a class="btn" href="#">Подробнее <i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <div id="carouselOrganizations" class="carousel carousel-dark slide hide-on-desktop">
                {% for organization in organizations %}
                    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                        <div class="card event_schedule-card">
                            <img src="{{ organization.file.url }}" alt="{{ organization.name }}">
                            <div class="card-body">
                                <p class="card-text">{{ organization.name }}</p>
                                <span>{{ organization.description }}</span>
                                <a class="btn full-blue-btn mt-3 mb-3" href="#">Купить билет</a>
                                <a class="btn" href="#">Подробнее <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselOrganizations"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselOrganizations"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <div class="index-subscribe-block hide-on-mobile">
        <div>
            <img src="{% static 'images/index-subscribe-block.webp' %}" alt="">
            <div>
                <p>Подпишитесь на уведомление новых программ, чтобы быть в курсе одним из первых</p>
                <form>
                    <input type="email" class="form-control" placeholder="Почта">
                    <input type="submit" class="btn btn-primary full-blue-btn" value="Подписаться">
                </form>
            </div>
        </div>
    </div>

    <div class="index-subscribe-block hide-on-desktop">
        <p>Подпишитесь на уведомление новых программ, чтобы быть в курсе одним из первых</p>
        <form>
            <input type="email" class="form-control" placeholder="Почта">
            <input type="submit" class="btn btn-primary full-blue-btn" value="Подписаться">
        </form>
    </div>
    <div class="container">
        <div class="row hide-on-mobile">
            <div class="col-sm-6 mb-4">
                <h2 class="mt-5 mb-3">Кафе</h2>

                {% for cafe in cafes %}
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{ cafe.file }}" class="img-fluid rounded-start" alt="{{ cafe.name }}">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ cafe.name }}</h5>
                                    <p class="card-text stars-rate">
                                        {% with ''|center:cafe.rate as range %}
                                            {% for _ in range %}
                                                <i class="fa-solid fa-star"></i>
                                            {% endfor %}
                                        {% endwith %}
                                    </p>
                                    <p class="card-text">
                                        <a class="btn" href="#">Подробнее <i class="fa-solid fa-arrow-right"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="text-center">
                    <a class="btn blue-btn mt-4" href="{% url 'cafes:cafe-list' %}">Смотреть все кафе</a>
                </div>
            </div>
            <div class="col-sm-6 hide-on-mobile">
                <img src="{% static 'images/index-cafes.webp' %}" alt="" style="width: 100%">
            </div>
        </div>
        <div class="row hide-on-desktop">
            <div class="col">
                <h2 class="mt-5 mb-3">Кафе</h2>
                <div id="carouselCafes" class="carousel carousel-dark slide hide-on-desktop">
                    <div class="carousel-inner">
                        {% for cafe in cafes %}
                            <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                                <div class="card event_schedule-card">
                                    <img src="{{ cafe.file.url }}" alt="{{ cafe.name }}">
                                    <div class="card-body">
                                        <p class="card-text">{{ cafe.name }}</p>
                                        <p class="card-text stars-rate">
                                            {% with ''|center:cafe.rate as range %}
                                                {% for _ in range %}
                                                    <i class="fa-solid fa-star"></i>
                                                {% endfor %}
                                            {% endwith %}
                                        </p>

                                        <p class="card-text mt-5 text-center">
                                            <a class="btn" href="#">
                                                Подробнее <i class="fa-solid fa-arrow-right"></i>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselCafes"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselCafes"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="text-center">
                    <a class="btn blue-btn mt-4 mb-4" href="{% url 'cafes:cafe-list' %}">Смотреть все кафе</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
