body {
    font-family: Roboto, serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
}

.nav-link {
    text-align: left;
    margin-right: 20px;
}

.auth-btn {
    background: #2D1703;
    height: 50px;
    border-radius: 12px;
    color: white;
    padding: 0 40px 0 40px;
    margin-left: 20px;
}

.auth-btn:hover {
    border-color: #2D1703;
}

.glass {
    font-size: 30px;
    margin: 10px 10px;
    color: #2D1703;
}

.navbar-brand {
    margin-right: 100px;
    font-family: Candal, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.5px;
    text-align: left;

}

.main-btn {
    background: #2D1703;
    color: white;
    padding: 5px 20px;
}

.main-btn:hover {
    border-color: #2D1703;
}

.second-btn {
    background: white;
    border-color: #2D1703;
    padding: 5px 20px;
}

.index-top {
    width: 100%;
    display: flex;
    justify-content: center;
}

.index-top-block {
    width: 1920px;
}

.index-top-block-left {
    position: absolute;
    z-index: 2;
    float: left;
}

.index-top-block-left div {
    background-color: #F7EEDE;
    width: 577px;
    height: 568px;
    border-radius: 120px 120px 12px 12px;
    margin-top: 80px;
    margin-left: 240px;
    padding: 120px 50px;
}

.index-top-block-left div h1 {
    font-family: 'Prata', serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 1px;
    text-align: left;
}

.index-top-block-left div p {
    font-family: Roboto, serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 50px;
}

.index-top-block-left div p a {
    text-decoration: none;
}

.index-top-block-right {
    float: right;
}

.blue-btn {
    border: 1px solid #0B91DC;
    padding: 10px 30px;
}

.blue-btn:hover {
    background-color: #C9ECFF;
    border: 1px solid #0B91DC;
}

.index-top-block-right p {
    width: 1000px;
    font-family: Roboto, serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 50px;
    text-align: left;
}

.event_schedule-card {
    text-decoration: none;
}

.event_schedule-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.event_schedule-card p {
    font-family: Roboto, serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
}

.in-one-line span:first-of-type {
    float: left;
}

.in-one-line span:last-of-type {
    float: right;
}

.event_schedule-card span {
    font-family: Roboto, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.index-subscribe-block {
    background-color: #F7EEDE;
    height: 370px;
}

.index-subscribe-block {
    width: 100%;
    display: flex;
    justify-content: center;
}

.index-subscribe-block div {
    width: 1000px;
}

.index-subscribe-block div div {
    width: 700px;
    margin-left: 400px;
    margin-top: 100px;
}

.index-subscribe-block div img {
    float: left;
}

.index-subscribe-block div div p {
    font-family: Roboto, serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
}

.index-subscribe-block input[type=email] {
    background: #D9D9D9;
    width: 300px;
    margin-left: 200px;
}

.index-subscribe-block input[type=submit] {
    margin-top: 20px;
    width: 300px;
    margin-left: 200px;
}

.img-fluid {
    height: 100%;
    object-fit: cover;
}

.stars-rate {
    color: #F0FF49;
}

footer {
    background-color: #093D5A;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer .container {
    padding-bottom: 20px;
}

.footer-links {
    padding-top: 30px;
}

.footer-links a {
    font-family: Roboto, serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: left;
}

.footer-form {
    padding-top: 30px;
}

.footer-form span {
    font-family: Roboto, serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
}

.footer-form input {
    background: #D9D9D9;
}

.footer-contacts {
    padding-top: 40px;
    padding-left: 150px;
}

.footer-contacts a {
    font-family: Roboto, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
}

.hide-on-desktop {
    display: none;
}

html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
}

main {
    padding-bottom: 260px;
}

footer {
    margin-top: -260px;
    height: 260px;
}

.event-list .img-fluid {
    width: 100%;
    height: 140px;
    overflow: hidden;
}

.event-list svg {
    padding-left: 40px;
}

.event-list svg:first-of-type {
    padding-left: 0;
}

.full-blue-btn {
    background: #0B91DC;
    color: white;
    padding: 10px 30px;
}

.full-blue-btn:hover {
    background-color: #0070B0;
    color: white;
}

.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .badge {
    font-size: 12px
}

.basket .row div {
    box-shadow: 2px 2px 2px 2px;
    padding-top: 15px;
}

.basket a {
    text-decoration: none;
    color: #2D1703;
}

.purchase-background {
    background-size: cover;
    background-position: center center;
    padding: 10px 0 30px 0;
}

.purchase-ticket {
    padding: 20px;
    margin-top: 20px;
    margin-left: calc(50% - 300px);
    width: 600px;
    border-radius: 8px;
    border: 1px solid #F7EEDE;
    background-color: white;
}


.purchase-ticket h2 {
    font-family: Roboto, serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
}

.purchase-ticket img {
    width: 300px;
}

.basket small {
    font-family: Roboto, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 1px;
    text-align: left;
}


.basket .row div {
    box-shadow: 0 0 1px 0;
    padding-top: 15px;
}

.blue-div {
    border: 1px solid #0B91DC;
    padding: 10px 30px;
    border-radius: 10px;
    display: inline-block;
}

.purchase-ticket div a {
    text-decoration: none;
}

.purchase-ticket p span {
    font-family: Roboto, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #848484;
}

#map {
    height: 400px;
}

.event-list a {
    color: black;
    text-decoration: none;
}

.badge-age-limit {
    color: black;
    background-color: white;
    font-weight: 200;
}

#calendar {
    height: 1400px;
    margin: 0 20px;
}

.fc-event-title-container .fc-event-title {
    white-space: break-spaces;
    font-size: 12px;
}

#calendar-event-info {
    display: none;
    position: absolute;
    width: 550px;
    z-index: 20;
    background-color: white;
    border: 1px solid #b6b6b6;
    color: black;
    padding: 10px 10px;
}

#calendar-event-info .btn-close {
    float: right;
}

#calendar-event-info h3 {
    font-family: Roboto, serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
}

#calendar-event-info a {
    color: black;
}

#prices .input-group-text {
    width: 200px;
}

#periodical_period .input-group-text {
    width: 300px;
}

#periodical_period .help {
    font-size: 12px;
}

.calendar-filter .input-group-text {
    width: 150px;
}

.calendar-filter .input-group {
    height: 46px;
}

.calendar-filter button {
    height: 46px;
}

.legend {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid gray;
}

.profile-left-block {
    background-color: #0B91DC;
    height: 600px;
    padding: 50px;
    color: white;
    font-family: Roboto, serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: left;
    border-radius: 8px;
    line-height: 50px;
}

.profile-left-block h3 {
    font-family: Roboto, serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1px;
    text-align: left;
    margin-left: 20px;
}

.profile-left-block .active {
    color: #2D1703;
    background-color: white;
    width: 350px;
    border-radius: 8px;
    padding-left: 20px;
}

.profile-left-block a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

.fc-resourceTimeGridWeek-view span {
    writing-mode: vertical-lr;
}

.profile-qrcode {
    width: 200px;
    height: 200px;
}

.red_text {
    color: red;
    text-decoration: bold;
}

.user-list-form .input-group-text {
    width: 270px;
}

@media only screen and (max-width: 600px) {
    .navbar-brand {
        margin: 0
    }

    .hide-on-mobile {
        display: none;
    }

    .footer-contacts {
        padding-top: 20px;
        padding-left: 10px;
    }

    .hide-on-desktop {
        display: block;
    }

    .index-top img {
        width: 100%;
    }

    .index-top div:first-of-type {
        background-color: #F7EEDE;
    }

    .index-top div:first-of-type h1 {
        font-family: Prata, serif;
        font-size: 26px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 1px;
        text-align: left;
        margin-top: 20px;
        margin-left: 20px;
    }

    .index-top div:last-of-type {

    }

    main {
        padding-bottom: 600px;
    }

    footer {
        margin-top: -600px;
        height: 600px;
    }

    .purchase-ticket {
        width: 100%;
        margin: 0;
    }

    .basket .row {
        margin-bottom: 20px;
    }

    .index-subscribe-block {
        height: 250px
    }

    .index-subscribe-block p {
        padding-top: 10px;
        font-family: Roboto, serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        text-align: center;
    }

    .index-subscribe-block input[type=email] {
        margin-top: 20px;
        width: 300px;
        margin-left: 50px;
    }

    .index-subscribe-block input[type=submit] {
        margin-top: 20px;
        width: 300px;
        margin-left: 50px;
    }
}
