{% extends "base.html" %}
{% load prettifiers %}

{% block content %}
    <div class="container basket">
        <h1 class="text-center mt-5">Корзина</h1>
        <form class="form" method="post" action="{% url "tickets:basket-buy" %}">
            {% csrf_token %}
            {% for date, event_schedule_dict in data.items %}
                <p class="blue-div mt-5">{% date_to_str_tag date %}</p>
                {% for event_schedule, basket_events in event_schedule_dict.items %}
                    <div class="row basket">
                        <div class="col-sm-1 text-center">
                            <p>{{ event_schedule.start_at|date:"H:i" }}</p>
                        </div>
                        <div class="col-sm-6">
                            <p>{{ event_schedule.event.name }}</p>
                        </div>
                        <div class="col-sm-3">
                            {% for basket_event in basket_events %}
                                <p>
                                    {{ basket_event.count }}
                                    {% category_to_str_tag basket_event.event_price.category %}
                                    {% if basket_event.set_id %}
                                        <span>
                                            ("Единый билет {{ e }}")
                                        </span>
                                    {% else %}
                                        <span>
                                            ({{ basket_event.event_price.price }}₽)
                                        </span>
                                    {% endif %}
                                </p>
                            {% endfor %}
                        </div>
                        <div class="col-sm-1 text-center">
                            <p>
                                {% count_price basket_events %} ₽
                            </p>
                        </div>
                        <div class="col-sm-1 text-center">
                            <a href="#" hidden>
                                <i class="fa-solid fa-pen"></i>
                            </a>
                            <p>
                                <a href="{% url 'tickets:event-delete' event_schedule.id %}">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}

            {% if sets %}
                <p class="blue-div mt-5">Единые билеты</p>
                {% for set in sets %}
                    <div class="row basket">
                        <div class="col-sm-10">
                            <p>{{ set.name }}</p>
                        </div>
                        <div class="col-sm-1 text-center">
                            <p>
                                {{ set.price }} ₽
                            </p>
                        </div>
                        <div class="col-sm-1 text-center">
                            <p>
                                <a href="{% url 'events:event_set-del_from_basket' set.set_id %}">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        
            {% if data %}

                <div class="basket-buy-block mt-5">
                    {% if request.user.is_tic_employee %}
                        <div class="input-group mb-3">
                            <span class="input-group-text">Пользователь, которому купить:</span>
                            <select class="form-control selectpicker" data-live-search="true" name="user">
                                {% for user in users %}
                                    <option value="{{ user.id }}">{{ user.get_full_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}
                    <p>
                        Итого: {{ total_price }} ₽
                    </p>
                    <p>
                        <input type="submit" class="btn full-blue-btn" value="Купить">
                    </p>
                </div>
            {% else %}
                Корзина пустая
            {% endif %}
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('select').selectpicker();
    </script>
{% endblock %}