{% extends "base.html" %}
{% load prettifiers %}

{% block title %}
    Корзина
{% endblock %}

{% block content %}
    <div class="container basket">
        <h1 class="text-center mt-5">Корзина</h1>
        <form class="form" method="post" action="{% url "tickets:basket-buy" %}">
            {% csrf_token %}
            {% for date, event_schedule_dict in data.items %}
                <p class="blue-div mt-5">{% date_to_str_tag date %}</p>
                {% for event_schedule, basket_events in event_schedule_dict.items %}
                    <div class="row basket">
                        <div class="col-sm-1 text-center">
                            <p>{{ event_schedule.start_at|date:"H:i" }}</p>
                            <p>{{ event_schedule.end_at|date:"H:i" }}</p>
                        </div>
                        <div class="col-sm-6">
                            <p>
                                <a href="{% url 'events:event-detail' event_schedule.event.id %}">{{ event_schedule.event.name }}</a>
                            </p>
                            <p><small>{{ event_schedule.event.organization.name }}</small></p>
                        </div>
                        <div class="col-sm-3">
                            {% for basket_event in basket_events %}
                                <p {% if basket_event.id in more_then_total_count %}class="bg-danger"{% endif %}>
                                    {{ basket_event.count }}
                                    {% category_to_str_tag basket_event.event_price.category %}
                                    {% if basket_event.set_id %}
                                        <span>
                                            ("Набор №{% set_by_uuid basket_event.set_id %}")
                                        </span>
                                    {% else %}
                                        <span>
                                            ({{ basket_event.event_price.price }}₽)
                                        </span>
                                    {% endif %}
                                </p>
                            {% endfor %}
                        </div>
                        <div class="col-sm-1 text-center">
                            <p>
                                {% count_price basket_events %} ₽
                            </p>
                        </div>
                        <div class="col-sm-1 text-center">
                            <a href="#" hidden>
                                <i class="fa-solid fa-pen"></i>
                            </a>
                            <p>
                                {% if basket_events|has_single_event %}
                                    <a href="{% url 'tickets:event-delete' event_schedule.id %}">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}

            {% if sets %}
                <p class="blue-div mt-5">Наборы</p>
                {% for set in sets %}
                    <div class="row basket">
                        <div class="col-sm-1">
                            <p>№{{ set.id }}</p>
                        </div>
                        <div class="col-sm-9">
                            <p><a href="{% url 'events:event_set-detail' set.id %}">{{ set.name }}</a></p>
                        </div>
                        <div class="col-sm-1 text-center">
                            <p>
                                {{ set.price }} ₽
                            </p>
                        </div>
                        <div class="col-sm-1 text-center">
                            <p>
                                <a href="{% url 'events:event_set-del_from_basket' set.set_id %}">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            {% if more_then_total_count %}
                <p class="red_text mt-5">
                    Вы выбрали слишком много мест. Красным указаны билеты, которые вы не можете купить.
                </p>
            {% endif %}

            {% if data and not more_then_total_count %}
                <div class="basket-buy-block mt-5">
                    {% if request.user.is_tic_employee %}
                        <div class="input-group mb-3">
                            <span class="input-group-text">Пользователь, которому создать билеты</span>
                            <select class="form-control selectpicker" data-live-search="true" name="user">
                                {% for user in users %}
                                    <option value="{{ user.id }}">{{ user.get_full_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}
                    {% if has_collisions %}
                        <p class="red_text mt-5">
                            Вы уверены, что успеете добежать? 👀<br>
                            Предупреждаем, что объекты находятся далеко друг от друга и лучше заложить 30-45 минут на
                            перемещение
                        </p>
                        <p class="btn btn-danger mb-5" onclick="enableForm()">
                            Перепроверил расписание и беру на себя все риски за потенциальное опоздание
                        </p>
                    {% endif %}
                    <p>
                        Итого: {{ total_price }} ₽
                    </p>
                    <p>
                        <input type="submit" class="btn full-blue-btn" value="Купить" id="basket_buy_button"
                               {% if has_collisions %}disabled{% endif %}>
                    </p>
                </div>
            {% endif %}
            {% if not data %}
                Корзина пустая
            {% endif %}
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('select').selectpicker();
    </script>

    <script>
        function enableForm() {
            document.getElementById("basket_buy_button").disabled = false;
        }
    </script>
{% endblock %}