{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-5 mb-5 text-center">Отметить посещение отзыв</h1>
                <form class="form" method="POST" enctype='multipart/form-data'>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="text-center">
                        <button class="btn full-blue-btn" type="submit">Отметить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}