{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
    Написать отзыв
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <form class="form" method="POST" enctype='multipart/form-data'>
                    <h1 class="mt-5 mb-5 text-center">Написать отзыв</h1>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% bootstrap_button button_type="submit" content="ОК" %}
                </form>
            </div>
        </div>
    </div>
{% endblock content %}