{% extends "base.html" %}
{% load static %}
{% load prettifiers %}

{% block content %}
    <h1 class="text-center mt-5 mb-3">Заказ от {{ object.created_at }}</h1>

    <div class="purchase-background" style="background-image: url({% static 'images/ticket-bg.webp' %})">
        <div class="purchase-ticket">
            <h2>Единый билет</h2>
            <div class="text-center">
                <img width="300" src="{{ object.qr_code.url }}">
            </div>
            <div id="map"></div>
            <p class="text-center mt-3">Вы успешно записаны на экскурсии и мастер-классы:</p>

            {% for date, purchase_event_data in data.items %}
                <div class="basket">
                    <p class="blue-div mt-3">{% date_to_str_tag date %}</p>
                    {% for _, purchase_events in purchase_event_data.items %}
                        <div class="row">
                            <div class="col-sm-2 text-center">
                                <p>{{ purchase_events.0.start_at|date:"H:i" }}</p>
                            </div>
                            <div class="col-sm-6">
                                <p>{{ purchase_events.0.event.name }}</p>
                                <p>
                                <span>
                                    {{ purchase_events.0.event.organization.name }}
                                    ({{ purchase_events.0.event.organization.address }})
                                </span>
                                </p>
                            </div>
                            <div class="col-sm-2">
                                {% for purchase_event in purchase_events %}
                                    <small>
                                        <p>
                                            {{ purchase_event.count }}
                                            {% category_to_str_tag purchase_event.category %}
                                        </p>
                                    </small>
                                {% endfor %}
                            </div>
                            <div class="col-sm-2 text-center">
                                <p>{{ purchase_events.0.price }} ₽</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="mt-3">
                <a href="#" class=""><i class="fa-solid fa-file-pdf"></i> Скачать в pdf </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        // https://codd-wd.ru/shpargalka-yandeks-karty-yandex-maps-api/
        ymaps.ready(init);

        function init() {
            let myMap = new ymaps.Map("map", {
                center: ["55.093816", "38.768806"],
                zoom: 13,
                controls: ['zoomControl', 'rulerControl', 'fullscreenControl']
            });

            {% for organization in object.organizations %}
                myMap.geoObjects.add(new ymaps.Placemark([
                        {{organization.latitude|stringformat:".10f" }},
                        {{organization.longitude|stringformat:".10f"}}
                    ], {
                        hintContent: '{{ organization.name }}',
                    })
                );
            {% endfor  %}
        }
    </script>
{% endblock %}
