{% extends "base.html" %}
{% load prettifiers %}

{% block title %}
    Удалить {{ object.title }}?
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="container mb-5">
            <div class="row">
                <div class="col text-center mt-5 mb-5">
                    <h1>Удалить {{ object.title }}?</h1>
                </div>
            </div>
            <div class="row">
                <div class="col mb-5">
                    {% for date, purchase_event_data in data.items %}
                        <div class="basket">
                            <p class="blue-div mt-3">{% date_to_str_tag date %}</p>
                            {% for _, purchase_events in purchase_event_data.items %}
                                <div class="row">
                                    <div class="col-sm-1 text-center">
                                        <p>
                                            {{ purchase_events.0.start_at|date:"H:i" }}<br>
                                            {{ purchase_events.0.end_at|date:"H:i" }}
                                        </p>
                                    </div>
                                    <div class="col-sm-8">
                                        <p>{{ purchase_events.0.event.name }}</p>
                                        <p>
                                <span>
                                    {{ purchase_events.0.event.organization.name }}
                                    ({{ purchase_events.0.event.organization.address }})
                                </span>
                                        </p>
                                    </div>
                                    <div class="col-sm-2">
                                        {% for purchase_event in purchase_events %}
                                            <small>
                                                <p>
                                                    {{ purchase_event.count }}
                                                    {% category_to_str_tag purchase_event.category %}
                                                </p>
                                            </small>
                                        {% endfor %}
                                    </div>
                                    <div class="col-sm-1 text-center">
                                        <p>{{ purchase_events.0.price }} ₽</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col text-center mb-5">
                    <input type="submit" class="btn full-blue-btn mt-3" value="Да">
                </div>
            </div>
        </div>
    </form>
{% endblock %}
