{% extends "base.html" %}
{% load prettifiers %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-5 mb-5">Личный кабинет</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 profile-left-block">
                <h3 class="mb-5">
                    Добро пожаловать, {{ request.user.first_name }} {{ request.user.last_name }}!
                </h3>
                <div class="mt-3">
                    <a href="{% url 'users:profile' %}">Купленные билеты</a>
                </div>
                <div class="mt-3">
                    <a href="{% url 'users:profile-saved' %}">Сохраненные мероприятия</a>
                </div>
                <div class="mt-3 active">
                    <p>История</p>
                </div>
                <div class="mt-5">
                    <a href="{% url 'users:logout' %}">Выйти</a>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="row">
                    {% for purchase in purchases %}
                        <div class="col-sm-6 mb-3 mb-sm-0 text-center">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Билет от {{ purchase.created_at|date:"SHORT_DATETIME_FORMAT" }}
                                    </h5>
                                    <div>
                                        <img src="{{ purchase.qr_code.url }}" class="profile-qrcode" alt="">
                                    </div>
                                    <div>
                                        <p class="red_text">
                                            {% if purchase.status == 'CLOSED' %}
                                                Не был оплачен
                                            {% elif  purchase.status == 'VISITED' %}
                                                Посещён
                                            {% else %}
                                                Истёк срок
                                            {% endif %}
                                        </p>
                                    </div>
                                    <a href="{% url 'tickets:purchase-detail' purchase.pk %}" class="btn blue-btn mt-3">
                                        Посмотреть
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% for purchase in request.user.purchases.all %}
    <h2>{{ purchase.created_at|date:"SHORT_DATETIME_FORMAT" }}</h2>
    <a class="btn" href="{% url 'tickets:purchase-detail' purchase.pk %}">
        Подробнее <i class="fa-solid fa-arrow-right"></i>
    </a>
{% endfor %}