{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col">
                <form class="form" method="POST" novalidate>
                    <h1>Регистрация нового пользователя</h1>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% bootstrap_button button_type="submit" content="ОК" %}
                </form>
            </div>
        </div>
    </div>

{% endblock content %}