{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
    Регистрация
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <form class="form" method="POST" novalidate>
                    <h1 class="mb-5 mt-5 text-center">Регистрация нового пользователя</h1>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <input type="submit" class="btn full-blue-btn mt-3" value="Зарегистрироваться">
                </form>
            </div>
        </div>
    </div>
{% endblock content %}