{% extends "base.html" %}

{% block content %}
    <div id='calendar'></div>
{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
                locale: 'ru-ru',
                themeSystem: 'bootstrap5',
                datesAboveResources: true,
                buttonText: {today: "Сегодня", month: "Месяц", week: "Неделя", day: "День"},
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'resourceTimeGridDay,resourceTimeGridWeek'
                },
                views: {resourceTimeGridWeek: {type: 'resourceTimeGrid', duration: {days: 7}, buttonText: 'Неделя'}},
                initialView: 'resourceTimeGridDay',
                resources: [
                    {% for organization in organizations %}
                        {id: '{{ organization.pk }}', title: '{{ organization.name }}'},
                    {% endfor %}
                ],
                events: [
                    {% for event_schedule in event_schedules %}
                        {
                            id: '{{ event_schedule.pk  }}',
                            title: '{{ event_schedule.event.name }}\n1',
                            resourceId: '{{ event_schedule.event.organization.pk }}',
                            start: '{{ event_schedule.start_at|date:"c" }}',
                        },
                    {% endfor %}
                ],
                eventClick: function (info) {
                    // https://fullcalendar.io/docs/eventClick-demo
                    const eventObj = info.event;
                    
                    
                    
                    if (eventObj.url) {
                        alert(
                            'Clicked ' + eventObj.title + '.\n' +
                            'Will open ' + eventObj.url + ' in a new tab'
                        );
                        info.jsEvent.preventDefault();
                    } else {
                        alert('Clicked ' + eventObj.title);
                    }
                },
            });
            calendar.render();
        });
    </script>
{% endblock %}