{% extends "base.html" %}

{% block title %}
    Список мероприятий
{% endblock %}

{% block content %}
    <div class="container mb-5">
        <div class="row">
            <div class="col text-center mt-5 mb-5">
                <h1>Программы</h1>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col">
                <form class="row g-3">
                    <div class="col-sm-2">
                        <label>Музей</label>
                        <select class="form-control selectpicker mt-1" multiple data-live-search="true"
                                name="organization" data-actions-box="true">
                            {% for organization in organizations %}
                                <option value="{{ organization.id }}"
                                        {% if organization in form_data.organization %}selected{% endif %}>
                                    {{ organization.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <label>Длительность (в мин.)</label>
                        <input type="number" name="duration_gte" class="form-control mt-1" placeholder="От"
                               value="{{ form_data.duration_gte }}">
                        <input type="number" name="duration_lte" class="form-control mt-1" placeholder="До"
                               value="{{ form_data.duration_lte }}">
                    </div>
                    <div class="col-sm-2">
                        <label>Доступно мест</label>
                        <input type="number" name="max_visitors_standard" class="form-control mt-1"
                               placeholder="Стандартный" value="{{ form_data.max_visitors_standard }}">
                        <input type="number" name="max_visitors_child" class="form-control mt-1"
                               placeholder="Детский" value="{{ form_data.max_visitors_child }}">
                        <input type="number" name="max_visitors_student" class="form-control mt-1"
                               placeholder="Студенческий" value="{{ form_data.max_visitors_student }}">
                        <input type="number" name="max_visitors_retiree" class="form-control mt-1"
                               placeholder="Льготный" value="{{ form_data.max_visitors_retiree }}">
                    </div>
                    <div class="col-sm-2">
                        <label>Цена до</label>
                        <input type="number" name="max_price_standard" class="form-control mt-1"
                               placeholder="Стандартный" value="{{ form_data.max_price_standard }}">
                        <input type="number" name="max_price_child" class="form-control mt-1"
                               placeholder="Детский" value="{{ form_data.max_price_child }}">
                        <input type="number" name="max_price_student" class="form-control mt-1"
                               placeholder="Студенческий" value="{{ form_data.max_price_student }}">
                        <input type="number" name="max_price_retiree" class="form-control mt-1"
                               placeholder="Льготный" value="{{ form_data.max_price_retiree }}">
                    </div>
                    <div class="col-sm-2">
                        <label>Дата мероприятия</label>
                        <input type="date" name="date" class="form-control mt-1"
                               value="{{ form_data.date|date:"Y-m-d" }}">
                    </div>
                    <div class="col-sm-2">
                        <label>Диапазон времени</label>
                        <input type="time" name="time_gte" class="form-control mt-1"
                               value="{{ form_data.time_gte|date:"H:i" }}">
                        <input type="time" name="time_lte" class="form-control mt-1"
                               value="{{ form_data.time_lte|date:"H:i" }}">
                    </div>
                    <input type="submit" value="Выбрать" class="btn full-blue-btn">
                </form>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col event-list">
                {% for event in object_list %}
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-sm-2">
                                <img src="{{ event.images.all.0.file.url }}" class="img-fluid" alt="{{ event.name }}">
                            </div>
                            <div class="col-sm-8">
                                <div class="card-body">
                                    <h2 class="card-title mb-4">
                                        <a href="{% url 'events:event-detail'  event.id %}">{{ event.name }}</a>
                                    </h2>
                                    <i class="fa-solid fa-coins"></i> {{ event.price_range }} ₽/чел
                                    <i class="fa-regular fa-clock"></i> {{ event.duration_as_str }}
                                    <i class="fa-solid fa-people-group"></i> до {{ event.max_visitors }} чел
                                </div>
                            </div>
                            <div class="col-sm-2 text-center vertical-center">
                                <button class="btn blue-btn mb-3" data-bs-toggle="modal"
                                        data-bs-target="#eventChooseModal"
                                        onclick="setEventId({{ event.pk }})">
                                    Купить
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('select').selectpicker();
    </script>
{% endblock %}
