{% extends "base.html" %}

{% block content %}
    <div class="container mb-5">
        <div class="row">
            <div class="col text-center mt-5 mb-5">
                <h1>Наборы</h1>
            </div>
        </div>
        {% if request.user.is_tic_employee %}
            <div class="row">
                <div class="col mb-3">
                    <a href="{% url 'events:event_set-create' %}" class="btn blue-btn">Создать</a>
                </div>
            </div>
        {% endif %}
        <div class="row">
            {% for set in object_list %}
                <div class="col-sm-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h2>{{ set.name }}</h2>
                            <p>{{ set.description }}</p>
                            <a class="btn full-blue-btn mt-3 mb-3" href="{% url 'events:event_set-detail' set.pk %}">
                                Подробнее
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
