{% extends 'base.html' %}
{% load prettifiers %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="container mb-5">
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-5 mb-5">
                    Расписание
                </h1>
                <p>{{ object.event }}</p>
                <p>{{ object.event.organization }}
                <p>{{ object.date_range }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form class="form" method="post" enctype='multipart/form-data'>
                    {% csrf_token %}

                    {% if object.group_id == null %}
                    {% else %}
                    {% endif %}
                    <div id="prices" class=" mt-5 mb-5">
                        <h2 class="mb-5">Цены и кол-во мест на билеты</h2>

                        <div class="input-group mb-3">
                            <label class="input-group-text">Стандартный</label>
                            <input class="form-control" type="number" min="0" name="price_standard" required
                                   placeholder="Цена" value="{{ object.prices_info.price_standard }}">
                            <input class="form-control" type="number" min="0" name="visitors_standard" required
                                   placeholder="Кол-во мест" value="{{ object.prices_info.max_visitors_standard }}">
                        </div>

                        <div class="input-group mb-3">
                            <label class="input-group-text" for="price_student">Студенческий</label>
                            <input class="form-control" type="number" min="0" name="price_student" required
                                   placeholder="Цена" value="{{ object.prices_info.price_student }}">
                            <input class="form-control" type="number" min="0" name="visitors_student" required
                                   placeholder="Кол-во мест" value="{{ object.prices_info.max_visitors_student }}">
                        </div>

                        <div class="input-group mb-3">
                            <label class="input-group-text" for="price_child">Детский</label>
                            <input class="form-control" type="number" min="0" name="price_child" required
                                   placeholder="Цена" value="{{ object.prices_info.price_child }}">
                            <input class="form-control" type="number" min="0" name="visitors_child" required
                                   placeholder="Кол-во мест" value="{{ object.prices_info.max_visitors_child }}">
                        </div>

                        <div class="input-group mb-3">
                            <label class="input-group-text" for="price_retiree">Льготный</label>
                            <input class="form-control" type="number" min="0" name="price_retiree" required
                                   placeholder="Цена" value="{{ object.prices_info.price_retiree }}">
                            <input class="form-control" type="number" min="0" name="visitors_retiree" required
                                   placeholder="Кол-во мест" value="{{ object.prices_info.max_visitors_retiree }}">
                        </div>
                    </div>

                    <input type="submit" class="btn full-blue-btn" value="Изменить">
                </form>
            </div>
        </div>

        <div class="basket">
            <h2 class="mt-5 mb-5">Билеты</h2>
            {% for purchase, pes in purchase_events.items %}
                <div class="row">
                    <div class="col-sm-1">
                        <p>{{ purchase.id }}</p>
                    </div>
                    <div class="col-sm-6">
                        <p>
                            <a href="#">{{ purchase.user.get_full_name }}</a>
                        </p>
                    </div>
                    <div class="col-sm-2">
                        <p>
                            {% if purchase.status == "VISITED" %}
                                Посещен
                            {% elif purchase.status == 'SUCCESS' %}
                                Оплачен
                            {% elif purchase.status == 'NEW' %}
                                Создан
                            {% else %}
                                {{ purchase.status }}
                            {% endif %}
                        </p>
                    </div>

                    <div class="col-sm-2">
                        {% for purchase_event in pes %}
                            <p>
                                {{ purchase_event.count }}
                                {% category_to_str_tag purchase_event.category %}
                                {% if purchase_event.set_id %}
                                    <span>
                                        ("Единый билет №{% set_by_uuid purchase_event.set_id %}")
                                    </span>
                                {% else %}
                                    <span>
                                        ({% widthratio purchase_event.count 1 purchase_event.price %}₽)
                                    </span>
                                {% endif %}
                            </p>
                        {% endfor %}
                    </div>
                    <div class="col-sm-1 text-center">
                        <p>
                            <a href="{% url 'tickets:purchase-delete' purchase.id %}">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}
