{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="container mb-5">
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-5 mb-4">
                    {% if object.id %}
                        Изменить расписание
                    {% else %}
                        Создать расписание
                    {% endif %}
                </h1>
                <form class="form" method="post" enctype='multipart/form-data'>
                    {% csrf_token %}
                    {% bootstrap_form form %}

                    {% if object.id %}
                        <input type="submit" class="btn full-blue-btn" value="Изменить">
                        <input type="submit" name="group_update" class="btn blue-btn" value="Изменить группу">
                    {% else %}
                        <input type="submit" class="btn full-blue-btn" value="Создать">
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
