{% extends 'base.html' %}
{% load prettifiers %}
{% load django_bootstrap5 %}

{% block title %}
    {{ object.event.name }}  {{ object.date_range }}
{% endblock %}

{% block content %}
    <div class="container mb-5">
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-5 mb-5">
                    {{ object.event.name }} <br> {{ object.date_range }}
                </h1>
                <p>
                    <a href="{% url 'events:event-detail' object.event_id %}">{{ object.event }}</a>
                </p>
                <p>{{ object.event.organization }}
                <p>{{ object.date_range }}</p>
            </div>
        </div>

        <a class="btn btn-danger mb-2" href="{% url 'events:event_schedule-delete' object.id %}">Удалить</a>

        <div class="basket">
            <h2 class="mt-5 mb-5">Билеты</h2>
            {% if not purchase_events %}
                <p>Пока никто не купил билеты</p>
            {% endif %}
            {% for purchase, pes in purchase_events.items %}
                <div class="row">
                    <div class="col-sm-1">
                        <p>{{ purchase.id }}</p>
                    </div>
                    <div class="col-sm-6">
                        <p>
                            <a href="#">{{ purchase.user.get_full_name }}</a>
                        </p>
                    </div>
                    <div class="col-sm-2">
                        <p>
                            {% if purchase.status == "VISITED" %}
                                Посещен
                            {% elif purchase.status == 'SUCCESS' %}
                                Оплачен
                            {% elif purchase.status == 'NEW' %}
                                Не оплачен
                            {% elif purchase.status == 'CLOSED' %}
                                Отменён
                            {% else %}
                                {{ purchase.status }}
                            {% endif %}
                        </p>
                    </div>

                    <div class="col-sm-2">
                        {% for purchase_event in pes %}
                            <p>
                                {{ purchase_event.count }}
                                {% category_to_str_tag purchase_event.category %}
                                {% if purchase_event.set_id %}
                                    <span>
                                        ("Набор №{% set_by_uuid purchase_event.set_id %}")
                                    </span>
                                {% else %}
                                    <span>
                                        ({% widthratio purchase_event.count 1 purchase_event.price %}₽)
                                    </span>
                                {% endif %}
                            </p>
                        {% endfor %}
                    </div>
                    <div class="col-sm-1 text-center">
                        <p>
                            {% if purchase.status == "SUCCESS" %}
                                <a href="{% url 'tickets:purchase-delete' purchase.id %}?event_schedule_id={{ object.id }}">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}
