{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="container mb-5">
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-5 mb-5">Создать расписание</h1>
                <form class="form" method="post" enctype='multipart/form-data'>
                    {% csrf_token %}
                    <div class="mb-5">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Мероприятие</span>
                            <select class="form-select" required name="event_id">
                                {% for event in events %}
                                    <option value="{{ event.id }}">{{ event.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div id="choose_period" class="mb-5">
                        <h3>Периодичность</h3>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="period" value="single" id="single"
                                   onclick="choose_period('single')" required>
                            <label class="form-check-label" for="single">Одиночное</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="period" value="periodical"
                                   id="periodical" onclick="choose_period('periodical')" required>
                            <label class="form-check-label" for="everyday">Периодическое</label>
                        </div>
                    </div>

                    <div id="single_period" class="mb-5">
                        <div class="input-group mb-3">
                            <label class="input-group-text">Даты/время начала и конца</label>
                            <input class="form-control" type="datetime-local" name="datetime_start" id="datetime_start">
                            <input class="form-control" type="datetime-local" name="datetime_end" id="datetime_end">
                        </div>
                    </div>

                    <div id="periodical_period" class="mb-5">
                        <div class="input-group mb-3">
                            <label class="input-group-text">Крайние даты расписания</label>
                            <input class="form-control" type="date" name="date_start" id="date_start">
                            <input class="form-control" type="date" name="date_end" id="date_end">
                        </div>

                        <div class="input-group mb-3">
                            <label class="input-group-text">Время начала и конца</label>
                            <input class="form-control" type="time" name="time_start" id="time_start">
                            <input class="form-control" type="time" name="time_end" id="time_end">
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="monday" name="weekday" value="0">
                            <label class="form-check-label" for="monday">Понедельник</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="tuesday" name="weekday" value="1">
                            <label class="form-check-label" for="tuesday">Вторник</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="wednesday" name="weekday"
                                   value="2">
                            <label class="form-check-label" for="wednesday">Среда</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="thursday" name="weekday"
                                   value="3">
                            <label class="form-check-label" for="thursday">Четверг</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="friday" name="weekday" value="4">
                            <label class="form-check-label" for="friday">Пятница</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="saturday" name="weekday"
                                   value="5">
                            <label class="form-check-label" for="saturday">Суббота</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="sunday" name="weekday" value="6">
                            <label class="form-check-label" for="sunday">Воскресенье</label>
                        </div>
                        <p class="mt-2 help">Если не выбран ни один день недели, то расписание создаётся на каждый
                            день</p>
                    </div>

                    <div id="prices" class="mb-5">
                        <h3>Цены и кол-во мест на билеты</h3>

                        <div class="input-group mb-3">
                            <label class="input-group-text">Стандартный</label>
                            <input class="form-control" type="number" min="0" name="price_standard" required
                                   placeholder="Цена">
                            <input class="form-control" type="number" min="0" name="visitors_standard" required
                                   placeholder="Кол-во мест">
                        </div>

                        <div class="input-group mb-3">
                            <label class="input-group-text" for="price_student">Студенческий</label>
                            <input class="form-control" type="number" min="0" name="price_student" required
                                   placeholder="Цена">
                            <input class="form-control" type="number" min="0" name="visitors_student" required
                                   placeholder="Кол-во мест">
                        </div>

                        <div class="input-group mb-3">
                            <label class="input-group-text" for="price_child">Детский</label>
                            <input class="form-control" type="number" min="0" name="price_child" required
                                   placeholder="Цена">
                            <input class="form-control" type="number" min="0" name="visitors_child" required
                                   placeholder="Кол-во мест">
                        </div>

                        <div class="input-group mb-3">
                            <label class="input-group-text" for="price_retiree">Пенсионный</label>
                            <input class="form-control" type="number" min="0" name="price_retiree" required
                                   placeholder="Цена">
                            <input class="form-control" type="number" min="0" name="visitors_retiree" required
                                   placeholder="Кол-во мест">
                        </div>

                    </div>

                    <input type="submit" class="btn full-blue-btn" value="Создать">
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        choose_period("");

        function choose_period(period) {
            document.getElementById('single_period').hidden = true;
            document.getElementById('datetime_start').required = false;
            document.getElementById('datetime_end').required = false;

            document.getElementById('periodical_period').hidden = true;
            document.getElementById('time_start').required = false;
            document.getElementById('time_end').required = false;
            document.getElementById('date_start').required = false;
            document.getElementById('date_end').required = false;

            if (period === 'single') {
                document.getElementById('single_period').hidden = false;
                document.getElementById('datetime_start').required = true;
                document.getElementById('datetime_end').required = true;
            }

            if (period === 'periodical') {
                document.getElementById('periodical_period').hidden = false;
                document.getElementById('time_start').required = true;
                document.getElementById('time_end').required = true;
                document.getElementById('date_start').required = true;
                document.getElementById('date_end').required = true;
            }
        }
    </script>

{% endblock %}
