{% extends "base.html" %}

{% block title %}
    Музеи
{% endblock %}

{% block content %}
    <div class="container mb-5">
        <div class="row">
            <div class="col text-center mt-5 mb-5">
                <h1>Музеи</h1>
            </div>
        </div>
        <div class="row">
            {% for organization in object_list %}
                <div class="col-sm-3 mb-3">
                    <div class="card event_schedule-card">
                        <img src="{{ organization.file.url }}" alt="{{ organization.name }}">
                        <div class="card-body">
                            <p class="card-text">{{ organization.name }}</p>
                            <span>{{ organization.description }}</span>
                            <div class="in-one-line mt-3">
                                <a class="btn full-blue-btn mt-3 mb-3"
                                   href="{% url 'events:event-list' %}?organization={{ organization.id }}">
                                    Купить билет
                                </a>
                                <a class="btn" href="#">Подробнее <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
